## Q1. What is a database? Differentiate between SQL and NoSQL databases.

**Database --** A database is a collection of data that is organized in a way that allows easy retrieval, management, and updating of the data. It is an essential component of modern computer systems, and it is used to store and manage various types of data, such as customer information, sales data, and inventory records, among others.

There are two main types of databases: SQL (Structured Query Language) and NoSQL (Not Only SQL). The main differences between the two types are:

1. Data structure: SQL databases are based on the relational model, which means that data is stored in tables with predefined relationships between them. NoSQL databases, on the other hand, are based on a variety of data models, including document-oriented, key-value, and graph-based.

2. Query language: SQL databases use the SQL language to interact with the data, while NoSQL databases use a variety of query languages depending on the data model.

3. Scalability: NoSQL databases are designed to be highly scalable and can handle large amounts of data across multiple servers, while SQL databases can be more limited in terms of scalability.

4. Flexibility: NoSQL databases are generally more flexible than SQL databases because they can handle unstructured and semi-structured data more easily.

5. Data consistency: SQL databases are generally better at enforcing data consistency, while NoSQL databases can sometimes have eventual consistency, which means that changes to the data may take some time to propagate across all nodes in a distributed system.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

**DDL --** DDL stands for Data Definition Language, which is a category of SQL commands that are used to define and manipulate the structure of a database.

1. CREATE: The CREATE command is used to create a new database object such as a table, view, or procedure

In [ ]:
CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE
);

2. DROP: The DROP command is used to delete a database object such as a table, view, or procedure

In [ ]:
DROP TABLE customers;

3. ALTER: The ALTER command is used to modify the structure of an existing database object such as a table or view.

In [ ]:
ALTER TABLE customers ADD phone VARCHAR(20);

4. TRUNCATE: The TRUNCATE command is used to delete all the data from a table while keeping the structure of the table intact.

In [ ]:
TRUNCATE TABLE customers;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

**DML --** DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to modify the data stored in a database.

1. INSERT:
The INSERT command is used to add new data to a table. The syntax for the INSERT command is

In [ ]:
INSERT INTO students (name, age, grade)
VALUES ('John', 18, 'A');

2. UPDATE:
The UPDATE command is used to modify existing data in a table. The syntax for the UPDATE command is:

In [ ]:
UPDATE students
SET grade = 'B'
WHERE name = 'John';

3. DELETE:
The DELETE command is used to remove data from a table. The syntax for the DELETE command is:

In [ ]:
DELETE FROM students
WHERE name = 'John';

## Q4. What is DQL? Explain SELECT with an example.

**DQL --** DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used to retrieve data from a database.

**SELECT --** SELECT is a statement used in DQL to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, the tables you want to retrieve them from, and any conditions that should be met before the data is returned.

In [ ]:
SELECT name, age 
FROM customers 
WHERE age > 30;

## Q5. Explain Primary Key and Foreign Key.

**Primary Key --** A primary key is a field or a set of fields in a database table that uniquely identifies each record in the table. It is used to enforce data integrity by ensuring that there are no duplicate records in the table

**Foreign Key --** A foreign key, on the other hand, is a field or a set of fields in a database table that refers to the primary key of another table. It is used to establish a relationship between two tables, where one table (the "child" table) references another table (the "parent" table).

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
# mycursor.execute("select * from test2.test_table")
mycursor.execute("select c1, c5 from test2.test_table")
for i in mycursor.fetchall():
    print(i)
mydb.close()

**cursor() and execute() --** The cursor() method creates a cursor object, which is used to execute SQL queries on the database. The execute() method is used to execute an SQL query. The query can contain parameters, which can be passed as a tuple.

## Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, the order of execution of clauses in a query is as follows:

1. FROM: This clause specifies the table or tables from which the data will be selected.

2. JOIN: If multiple tables are used in the query, the JOIN clause is used to combine the data from the tables.

3. WHERE: The WHERE clause is used to filter the data based on specified conditions.

4. GROUP BY: If the query involves grouping of data, the GROUP BY clause is used to group the data based on specified columns.

5. HAVING: The HAVING clause is used to filter the grouped data based on specified conditions.

6. SELECT: The SELECT clause is used to select the columns to be displayed in the query results.

7. DISTINCT: The DISTINCT keyword is used to remove duplicate rows from the query results.

8. ORDER BY: The ORDER BY clause is used to sort the query results based on specified columns.

9. LIMIT/OFFSET: The LIMIT clause is used to limit the number of rows returned in the query results, while the OFFSET clause is used to skip a specified number of rows in the query results.