## Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

**MongoDB :** MongoDB is a popular open-source NoSQL document-oriented database management system. It stores data in a flexible JSON-like format called BSON (Binary JSON) that allows for dynamic and unstructured data to be stored and queried.

**Non-relational databases :** Non-relational databases, also known as NoSQL databases, are databases that do not use the traditional table-based structure of relational databases. Instead, they use a variety of data models such as document-based.

MongoDB is preferred over SQL databases in scenarios where flexibility, scalability, and performance are important. MongoDB's ability to scale horizontally and handle distributed data makes it a popular choice for cloud-based applications that require high availability and fault tolerance.

## Q2. State and Explain the features of MongoDB.

MongoDB is a NoSQL document-oriented database system that provides high scalability, high availability, and high performance. Here are some of the key features of MongoDB:

1. Document-oriented data model: MongoDB stores data in flexible and rich JSON-like documents, making it easy to store and retrieve complex data structures.

2. Dynamic schema: MongoDB does not require a predefined schema, allowing for more flexibility in data modeling and making it easier to evolve your data over time.

3. High availability and scalability: MongoDB uses a distributed architecture that allows for automatic failover and horizontal scaling, enabling you to handle large amounts of data and high traffic.

4. Powerful query language: MongoDB supports a rich query language that allows for complex queries and supports both ad-hoc and indexed queries.

5. Aggregation framework: MongoDB's aggregation framework provides powerful and flexible data aggregation capabilities, enabling you to perform complex analytics on your data.

## Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo

In [3]:
client = pymongo.MongoClient("mongodb+srv://anurag:anurag@cluster0.8nmvgiw.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [4]:
db = client['pwskills']

In [5]:

coll_pwskills = db['my_record_2'] # equivalent to table's name

## Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
data = {'name' : 'anurag',
        'class' : 'DSM',
        'time' : 'flexi'}

In [7]:
coll_pwskills.insert_one(data)

In [8]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [9]:
coll_pwskills.insert_many(data2)

In [10]:
coll_pwskills.find_one()

{'_id': ObjectId('642b83ca83e8602eadd413fe'),
 'name': 'anurag',
 'class': 'DSM',
 'time': 'flexi'}

In [11]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('642b83ca83e8602eadd413fe'), 'name': 'anurag', 'class': 'DSM', 'time': 'flexi'}
{'_id': ObjectId('642b83cb83e8602eadd413ff'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642b83cb83e8602eadd41400'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('642b83cb83e8602eadd41401'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('642b83cb83e8602eadd41402'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('642b83cb83e8602eadd41403'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('642b83cb83e8602eadd41404'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('642b83cb83e8602eadd41405'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('642b83cb83e8602eadd41406'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('642b83cb83e8602eadd41407'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('642b83cb83e8602eadd41408'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('642b83cb83e8602eadd41409'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('642b83cb83e8602eadd4140a'), 'name': 'Viola', 'address': 'Sideway 1633'}

## Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In MongoDB, the find() method is used to retrieve documents from a collection based on a specified query filter.

In [12]:
# for i in coll_pwskills.find({'name': 'anurag'}):
#     print(i)

## Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [13]:
data3 = [{
  "_id": ("61ff8e39991d153a1396d04a"),
  "name": "John",
  "age": 30,
  "city": "New York"
},
{
  "_id": ("61ff8e39991d153a1396d04b"),
  "name": "Mary",
  "age": 25,
  "city": "Chicago"
},
{
  "_id": ("61ff8e39991d153a1396d04c"),
  "name": "Mark",
  "age": 35,
  "city": "Los Angeles"
}]

In [14]:
coll_pwskills.insert_many(data3)

In [15]:
for i in coll_pwskills.find().sort("name", 1):
    print(i)

{'_id': ObjectId('642b83cb83e8602eadd413ff'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642b83cb83e8602eadd41407'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('642b83cb83e8602eadd41403'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('642b83cb83e8602eadd41409'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('642b83cb83e8602eadd41400'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': '61ff8e39991d153a1396d04a', 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': '61ff8e39991d153a1396d04c', 'name': 'Mark', 'age': 35, 'city': 'Los Angeles'}
{'_id': '61ff8e39991d153a1396d04b', 'name': 'Mary', 'age': 25, 'city': 'Chicago'}
{'_id': ObjectId('642b83cb83e8602eadd41401'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('642b83cb83e8602eadd41404'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('642b83cb83e8602eadd41402'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('642b83cb83e8602eadd41405'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('642b83cb83e8602eadd41406'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('642b83cb83e8602eadd4140a'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('642b83cb83e8602eadd41408'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('642b83ca83e8602eadd413fe'), 'name': 'anurag', 'class': 'DSM', 'time': 'flexi'}

## Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one(), delete_many(), and drop() are methods used in database management systems to remove data from a database.

1. delete_one() is used to remove a single document that matches a specified filter from a collection in a MongoDB database.

2. delete_many() is used to remove multiple documents that match a specified filter from a collection in a MongoDB database.

3. drop() is used to completely remove a collection, including all documents and indexes, from a MongoDB database.