In [1]:
# Consider following code to answer further questions:

import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

## Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
df[1:2]

        course_name  duration
1  Machine Learning         3

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The loc function is used to select data based on the labels of rows or columns, while iloc is used to select data based on the index of rows or columns. In other words, loc uses labels and iloc uses integers.

## Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [4]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [5]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [6]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

We can observe that the outputs for new_df.loc[2] and new_df.iloc[2] are different. This is because loc uses labels to identify rows, whereas iloc uses integer indices. In the reindexed dataframe new_df, the label 2 corresponds to the row with index 1, which has the data for the course name "Data Engineer" and duration 4.

In [7]:
# Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

## Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.606612  0.172704  0.815502  0.770533  0.875953  0.543845
2  0.191945  0.874638  0.132972  0.268397  0.022177  0.965985
3  0.632172  0.721695  0.241103  0.332412  0.711815  0.972397
4  0.496425  0.624746  0.559619  0.832974  0.984755  0.531514
5  0.732209  0.450668  0.370304  0.749488  0.149902  0.468319
6  0.169788  0.439122  0.928512  0.676891  0.379765  0.063927

In [9]:
df1.describe() # statistical measurements

       column_1  column_2  column_3  column_4  column_5  column_6
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.471525  0.547262  0.508002  0.605116  0.520728  0.590998
std    0.237420  0.246951  0.317771  0.242084  0.395969  0.341964
min    0.169788  0.172704  0.132972  0.268397  0.022177  0.063927
25%    0.268065  0.442009  0.273403  0.418531  0.207368  0.484117
50%    0.551519  0.537707  0.464961  0.713189  0.545790  0.537680
75%    0.625782  0.697458  0.751531  0.765271  0.834919  0.860450
max    0.732209  0.874638  0.928512  0.832974  0.984755  0.972397

In [10]:
df1.mean()

column_1    0.471525
column_2    0.547262
column_3    0.508002
column_4    0.605116
column_5    0.520728
column_6    0.590998
dtype: float64

In [11]:
df1['column_2'].std()

0.24695086353401965

## Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [16]:
df1.loc[2, 'column_2'] = 'sample'

In [17]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.606612  0.172704  0.815502  0.770533  0.875953  0.543845
2  0.191945    sample  0.132972  0.268397  0.022177  0.965985
3  0.632172  0.721695  0.241103  0.332412  0.711815  0.972397
4  0.496425  0.624746  0.559619  0.832974  0.984755  0.531514
5  0.732209  0.450668  0.370304  0.749488  0.149902  0.468319
6  0.169788  0.439122  0.928512  0.676891  0.379765  0.063927

In [19]:
# df1['column_2'].mean()

it shows an error because we now have a string value in our column_2 and that's why we cant get mean() because of non numeric value

## Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In Pandas, the window function is used for applying a sliding window function to a time-series or any other data set. It is an essential tool for time series analysis and signal processing.

There are several types of window functions available in Pandas:

1. Rolling Window: Computes the arithmetic mean of a rolling window of values over a specified window size.
2. Expanding Window: Computes a cumulative sum, cumulative minimum, or cumulative maximum of the values of a window that grows with each new row.
3. Exponentially Weighted Moving Window: Computes the moving average with an exponentially decreasing weight for older observations.
4. Rolling Apply Window: Applies a user-defined function to the values of each rolling window.
5. GroupBy Window: Computes a group-specific window function for each group in a DataFrame.

## Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [26]:
current_date = pd.Timestamp.now()


current_month_and_year = current_date.strftime('%B %Y')

In [28]:
current_month_and_year

'April 2023'

## Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [30]:
date1_str = input("Enter the first date (YYYY-MM-DD): ")
date2_str = input("Enter the second date (YYYY-MM-DD): ")

Enter the first date (YYYY-MM-DD):  2020-12-22
Enter the second date (YYYY-MM-DD):  2009-9-9

In [31]:
date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)

In [32]:
delta = date2 - date1


print("The difference between", date1_str, "and", date2_str, "is:")
print(delta.days, "days")
print(delta.total_seconds() // 3600, "hours")
print(delta.total_seconds() // 60, "minutes")

The difference between 2020-12-22 and 2009-9-9 is:
-4122 days
-98928.0 hours
-5935680.0 minutes

## Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [42]:
df = pd.DataFrame({'id':[1,2,3,4], 'category':['medium','medium','low','high'], 'value':[2,4,5,7]}, index=None)

In [43]:
df

   id category  value
0   1   medium      2
1   2   medium      4
2   3      low      5
3   4     high      7

In [44]:
df.to_csv('data.csv')

In [45]:
import pandas as pd

# prompt user to enter file path
file_path = input("Enter file path: ")

# read csv file
df = pd.read_csv(file_path)

# prompt user to enter column name
column_name = input("Enter column name: ")

# prompt user to enter category order
category_order = input("Enter category order (comma-separated): ").split(",")

# convert column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# display sorted data
print(df.sort_values(by=[column_name]))

Enter file path:  data.csv
Enter column name:  category
Enter category order (comma-separated):  medium,low,high

   Unnamed: 0  id category  value
0           0   1   medium      2
1           1   2   medium      4
2           2   3      low      5
3           3   4     high      7

## Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [46]:
'''

import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Convert the date column to a datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Set the date column as the index of the DataFrame
df.set_index('Date', inplace=True)

# Resample the DataFrame by month and calculate the sum of the sales for each product category
df_monthly = df.resample('M').sum()

# Create a stacked bar chart to show the sales of each product category over time
ax = df_monthly.plot(kind='bar', stacked=True)

# Set the title and axis labels
ax.set_title('Sales by Product Category')
ax.set_xlabel('Date')
ax.set_ylabel('Sales')

# Show the chart
plt.show()

'''
# I am trying to explain each line of code if i am not able to explain then please give me feedback so that i can do best.

'\n\nimport pandas as pd\n\n# Prompt the user to enter the file path\nfile_path = input("Enter the file path: ")\n\n# Read the CSV file into a pandas DataFrame\ndf = pd.read_csv(file_path)\n\n# Convert the date column to a datetime data type\ndf[\'Date\'] = pd.to_datetime(df[\'Date\'])\n\n# Set the date column as the index of the DataFrame\ndf.set_index(\'Date\', inplace=True)\n\n# Resample the DataFrame by month and calculate the sum of the sales for each product category\ndf_monthly = df.resample(\'M\').sum()\n\n# Create a stacked bar chart to show the sales of each product category over time\nax = df_monthly.plot(kind=\'bar\', stacked=True)\n\n# Set the title and axis labels\nax.set_title(\'Sales by Product Category\')\nax.set_xlabel(\'Date\')\nax.set_ylabel(\'Sales\')\n\n# Show the chart\nplt.show()\n\n'

In [52]:
df = pd.DataFrame({'Student ID':[1,2,3,4,5,6,7,8,9,10],
                   'Test Score':[85,90,80,75,85,82,78,85,90,85]
    })

In [54]:
df.to_csv('student ID.csv')

In [58]:
df

   Unnamed: 0  Student ID  Test Score
0           0           1          85
1           1           2          90
2           2           3          80
3           3           4          75
4           4           5          85
5           5           6          82
6           6           7          78
7           7           8          85
8           8           9          90
9           9          10          85

In [71]:
import pandas as pd

# Prompt the user to enter the file path of the CSV file
file_path = input("Enter the file path of the CSV file containing the student data: ")
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores using Pandas tools
mean_score = df["Test Score"].mean()
median_score = df["Test Score"].median()
mode_score = df["Test Score"].mode()

# Display the mean, median, and mode in a table
print("+-----------+--------+")
print("| Statistic | Value  |")
print("+-----------+--------+")
print(f"| Mean      | {mean_score} |")
print(f"| Median    | {median_score} |")
print(f"| Mode      | {mode_score} |")
print("+-----------+--------+")

+-----------+--------+
| Statistic | Value  |
+-----------+--------+
| Mean      | 83.5 |
| Median    | 85.0 |
| Mode      | 0    85
Name: Test Score, dtype: int64 |
+-----------+--------+

#### if i do any mistake please mention question number as well because it is very difficult to identify the mistake so, kindly mention question number as well