## Q1. Explain with an example each when to use a for loop and a while loop.

### For Loop

In [1]:
list_1 = [1,2,3,56345,23436,7,64,4325,457,67,45,36,68,257,234,66,86,634,43,65,75,54,565,75,64,235,647,67,4]

# Print all the even numbers that are in list_1

for i in list_1:
    if i%2 == 0:
        print(i)

2
23436
64
36
68
234
66
86
634
54
64
4

### While Loop

In [2]:
num = int(input("Enter any number to get its table :- "))
i = 1
while i <= 10:
    print(F"{num} X {i} = {num*i}")
    i = i + 1

Enter any number to get its table :-  66

66 X 1 = 66
66 X 2 = 132
66 X 3 = 198
66 X 4 = 264
66 X 5 = 330
66 X 6 = 396
66 X 7 = 462
66 X 8 = 528
66 X 9 = 594
66 X 10 = 660

## Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

### For Loop

In [3]:
# num = int(input("Enter nth number to get its sum:- "))
num = 10
add = 0
product = 1

for i in range(1, num+1):
    add = add + i
    product = product * i
    

print(F'the sum and product of the first 10 natural numbers using for loop sum = {add}, product = {product}')

the sum and product of the first 10 natural numbers using for loop sum = 55, product = 3628800

### While Loop

In [4]:
num = 10
count = 1
add = 0
product = 1

while count <= 10:
    add = add + count
    product = product * count
    count = count + 1
    

print(F'the sum and product of the first 10 natural numbers using while loop sum = {add}, product = {product}')

the sum and product of the first 10 natural numbers using while loop sum = 55, product = 3628800

## Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

You are required to take the units of electricity consumed in a month from the user as input.

Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [5]:
num = int(input('Enter your units to generate your electricity bill'))
a = 0
b = 0
c = 0
d = 0
if num <= 100:
    a = (num * 4.5)
    print(F'Here is your electricity bill --> {a}')
elif num <= 200:
    a = (100 * 4.5)
    b = a + ((num-100)*6)
    print(F'Here is your electricity bill --> {b}')
elif num <= 300:
    a = (100 * 4.5)
    b = (100 * 6)
    c = a + b + ((num-200)*10)
    print(F'Here is your electricity bill --> {c}')
else:
    a = (100 * 4.5)
    b = (100 * 6)
    c = (100 * 10)
    d = a + b + c + (num-300)*20
    print(F'Here is your electricity bill --> {d}')

Enter your units to generate your electricity bill 310

Here is your electricity bill --> 2250.0

## Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

### For Loop

In [6]:
list1 = list(range(1, 101))
list2 = []
list3 = []
len(list1)

for i in list1:
    list2.append(i ** 3)
for i in list2:
    if i % 4 == 0 or i % 5 ==0:
        list3.append(i)
list2, list3

([1,
  8,
  27,
  64,
  125,
  216,
  343,
  512,
  729,
  1000,
  1331,
  1728,
  2197,
  2744,
  3375,
  4096,
  4913,
  5832,
  6859,
  8000,
  9261,
  10648,
  12167,
  13824,
  15625,
  17576,
  19683,
  21952,
  24389,
  27000,
  29791,
  32768,
  35937,
  39304,
  42875,
  46656,
  50653,
  54872,
  59319,
  64000,
  68921,
  74088,
  79507,
  85184,
  91125,
  97336,
  103823,
  110592,
  117649,
  125000,
  132651,
  140608,
  148877,
  157464,
  166375,
  175616,
  185193,
  195112,
  205379,
  216000,
  226981,
  238328,
  250047,
  262144,
  274625,
  287496,
  300763,
  314432,
  328509,
  343000,
  357911,
  373248,
  389017,
  405224,
  421875,
  438976,
  456533,
  474552,
  493039,
  512000,
  531441,
  551368,
  571787,
  592704,
  614125,
  636056,
  658503,
  681472,
  704969,
  729000,
  753571,
  778688,
  804357,
  830584,
  857375,
  884736,
  912673,
  941192,
  970299,
  1000000],
 [8,
  64,
  125,
  216,
  512,
  1000,
  1728,
  2744,
  3375,
  4096,
  5832,
  8000,
  10648,
  13824,
  15625,
  17576,
  21952,
  27000,
  32768,
  39304,
  42875,
  46656,
  54872,
  64000,
  74088,
  85184,
  91125,
  97336,
  110592,
  125000,
  140608,
  157464,
  166375,
  175616,
  195112,
  216000,
  238328,
  262144,
  274625,
  287496,
  314432,
  343000,
  373248,
  405224,
  421875,
  438976,
  474552,
  512000,
  551368,
  592704,
  614125,
  636056,
  681472,
  729000,
  778688,
  830584,
  857375,
  884736,
  941192,
  1000000])

### While Loop

In [7]:
list1 = list(range(1, 101))
list2 = []
list3 = []
count1 = 0
len(list1)
while count1 < len(list1):
    list2.append(list1[count1] ** 3)
    count1 = count1 + 1
    

count2 = 0
while count2 < len(list2):
    if list2[count2] % 4 == 0 or list2[count2] % 5 ==0:
        list3.append(list2[count2])
    count2 = count2 + 1

list2, list3

([1,
  8,
  27,
  64,
  125,
  216,
  343,
  512,
  729,
  1000,
  1331,
  1728,
  2197,
  2744,
  3375,
  4096,
  4913,
  5832,
  6859,
  8000,
  9261,
  10648,
  12167,
  13824,
  15625,
  17576,
  19683,
  21952,
  24389,
  27000,
  29791,
  32768,
  35937,
  39304,
  42875,
  46656,
  50653,
  54872,
  59319,
  64000,
  68921,
  74088,
  79507,
  85184,
  91125,
  97336,
  103823,
  110592,
  117649,
  125000,
  132651,
  140608,
  148877,
  157464,
  166375,
  175616,
  185193,
  195112,
  205379,
  216000,
  226981,
  238328,
  250047,
  262144,
  274625,
  287496,
  300763,
  314432,
  328509,
  343000,
  357911,
  373248,
  389017,
  405224,
  421875,
  438976,
  456533,
  474552,
  493039,
  512000,
  531441,
  551368,
  571787,
  592704,
  614125,
  636056,
  658503,
  681472,
  704969,
  729000,
  753571,
  778688,
  804357,
  830584,
  857375,
  884736,
  912673,
  941192,
  970299,
  1000000],
 [8,
  64,
  125,
  216,
  512,
  1000,
  1728,
  2744,
  3375,
  4096,
  5832,
  8000,
  10648,
  13824,
  15625,
  17576,
  21952,
  27000,
  32768,
  39304,
  42875,
  46656,
  54872,
  64000,
  74088,
  85184,
  91125,
  97336,
  110592,
  125000,
  140608,
  157464,
  166375,
  175616,
  195112,
  216000,
  238328,
  262144,
  274625,
  287496,
  314432,
  343000,
  373248,
  405224,
  421875,
  438976,
  474552,
  512000,
  551368,
  592704,
  614125,
  636056,
  681472,
  729000,
  778688,
  830584,
  857375,
  884736,
  941192,
  1000000])

## Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [9]:
string1 = "I want to become a data scientist"
list1 = ['a','e','i','o','u']
list2 = []
for i in string1:
    if i.lower() in list1:
        list2.append(i)
print('vowels counts in above string is -->', len(list2),'\nlist of vowels in above list -->' ,list2)

vowels counts in above string is --> 12
list of vowels in above list --> ['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']